{% props id = 0 %}

<button
    class="flex gap-2 items-center fill-primary text-primary hover:fill-primary-light hover:text-primary-light"
        data-action="live#action"
        data-live-action-param="setIsEditingToTrue"
        data-live-id-param="{{ id }}"
    >
    <twig:BaseIconEdit />
    <span class="body-medium-bold">Edit</span>
</button>
