<button
    class="flex gap-2 items-center fill-danger text-danger hover:fill-danger-light hover:text-danger-light"
    data-action="live#action"
    data-live-action-param="setIsDeleting"
>
    <twig:BaseIconDelete />
    <span class="body-medium-bold">Delete</span>
</button>
