<button class="flex gap-2 items-center fill-primary text-primary hover:fill-primary-light hover:text-primary-light">
    <twig:BaseIconReply />
    <span class="body-medium-bold">Reply</span>
</button>