<button
    class="flex gap-2 items-center fill-primary text-primary hover:fill-primary-light hover:text-primary-light"
    data-action="live#action"
    data-live-action-param="setIsReplying"
>
    <twig:BaseIconReply />
    <span class="body-medium-bold">Reply</span>
</button>