<article class="flex flex-col gap-4 rounded-lg bg-white p-4">
    <textarea class="input-field border-neutral-1 h-24" placeholder="Add a comment…"></textarea>
	<div class="flex items-center justify-between">
		<figure class="h-8 w-8">
			<twig:BaseAvatar png="{{ app.user.image.png }}" webp="{{ app.user.image.webp }}"/>
		</figure>
		<button class="button button-primary uppercase body-medium-bold w-[104px]">
            Send
        </button>
	</div>
</article>
