<twig:BaseCardAside>
    <p class="body-medium text-white">Don’t have an account?</p>
    <a class="body-medium text-red" href="{{ path('app_authentification_signup') }}">Sign Up</a>
</twig:BaseCardAside>
