<twig:BaseCardAside>
    <p class="body-medium text-neutral-2">Don’t have an account?</p>
    <a class="body-medium text-primary hover:text-primary-light" href="{{ path('app_authentification_signup') }}">Sign Up</a>
</twig:BaseCardAside>
