<twig:BaseCardAside>
    <p class="body-medium text-white">Already have an account?</p>
    <a class="body-medium text-red" href="{{ path('app_authentification_login') }}">Sign Up</a>
</twig:BaseCardAside>